linkedin-apt.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## Classify incoming LinkedIn DMs\nWe use an LLM to decide if the message is trying to set up a meeting.",
        "height": 480,
        "width": 720
      },
      "id": "73dcaf1a-7e60-4c70-8d53-2c3f70c90401",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Pull calendar, craft reply, and send via LinkedIn\nUpdate credential IDs to match your instance.",
        "height": 480,
        "width": 780
      },
      "id": "37f6b9d8-6be4-4a59-a6d1-3f23d0d15698",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "watch",
        "triggerOn": "newMessage",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "ef2a297e-4f4b-4a31-971f-f69f08cc9365",
      "name": "LinkedIn Trigger",
      "type": "n8n-nodes-base.linkedinTrigger",
      "position": [
        -120,
        180
      ],
      "typeVersion": 1.1,
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_LINKEDIN_CRED_ID",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Please evaluate the following LinkedIn DM to determine if it indicates the sender wants to schedule a meeting or call:\nSender: {{ $json.from.firstName }} {{ $json.from.lastName }}\nMessage: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "is_appointment",
              "description": "Message is requesting an appointment"
            }
          ]
        },
        "options": {
          "fallback": "discard"
        }
      },
      "id": "61b2580e-65d6-4879-8206-3d73be0c14f1",
      "name": "Classify appointment",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        100,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "23c3d816-c59e-4b61-a791-593189d9dcfe",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        100,
        360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sender: {{ $('LinkedIn Trigger').first().json.from.firstName }} {{ $('LinkedIn Trigger').first().json.from.lastName }}\nMessage Text: {{ $('LinkedIn Trigger').first().json.text }}",
        "options": {
          "systemMessage": "=You are a LinkedIn scheduling assistant. Based on the incoming message, check my Google Calendar availability and propose an appropriate meeting time.\nAim for a specific day *and* time; always leave at least 15-minute buffers between events.\nIf I’m unavailable, propose an alternative slot within my free hours.\nOffer times only between 9 AM – 5 PM PT.\nInclude this link: https://calendly.com/wyattrudnicki/15min and note they can choose another time there if needed.\nClose with a newline, then \"Best,\" or \"Thanks,\" and a newline \"Wyatt\".\nCurrent date/time: {{ $now.toISO() }}."
        }
      },
      "id": "0c1badb1-0fcb-40df-9de0-c3f58038a5d3",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        660,
        160
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "db4a5dd4-9967-4aa3-9aad-ae77fc03bf8f",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        640,
        360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=wyattrudnicki@gmail.com",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus(1, 'day').toISO() }}",
        "timeMax": "={{ $now.plus(1, 'month').toISO() }}",
        "options": {}
      },
      "id": "173b7ae2-038e-4ad5-9e3f-50f6befa551b",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        840,
        360
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_GCAL_CRED_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "recipient": "={{ $('LinkedIn Trigger').first().json.from.id }}",
        "text": "={{ $json.output }}",
        "conversationId": "={{ $('LinkedIn Trigger').first().json.conversationId }}"
      },
      "id": "d65186c7-6c60-4d4c-8d94-0d51e61c3eec",
      "name": "Send LinkedIn Reply",
      "type": "n8n-nodes-base.linkedin",
      "position": [
        1100,
        160
      ],
      "typeVersion": 1.1,
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_LINKEDIN_CRED_ID",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "markAsRead",
        "messageId": "={{ $('LinkedIn Trigger').first().json.id }}"
      },
      "id": "b652ec9f-e2e3-4353-a16e-8b8a8132fdcf",
      "name": "Mark as read",
      "type": "n8n-nodes-base.linkedin",
      "position": [
        1100,
        340
      ],
      "typeVersion": 1.1,
      "credentials": {
        "linkedinOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_LINKEDIN_CRED_ID",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "connections": {
    "LinkedIn Trigger": {
      "main": [
        [
          {
            "node": "Classify appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify appointment": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify appointment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Send LinkedIn Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}