gmail/app-to-sheet.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "c0e9dd9e-121f-4d15-af75-875dcabecfd2",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "uVZcz6cz9wVzAPRF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Classify this email based on\n\nSubject: \"{{ $json.Subject }}\"\nSnippet: \"{{ $json.snippet }}\"\n\nExclude emails that have negative sentiment like \"Unfortunately, we will have to pass on your application\", or \"After careful consideration, we have decided not to move forward with your application at this time\"\nAlso exclude emails that are job alerts for multiple companies rather than any one particular job.\nAlso exclude emails that include EEO forms or coding challenge details.\nAlso exclude emails that say someone has viewed or reviewed my application.\nAlso exclude emails from wyattrudnicki@gmail.com\nOutput the result from Anthropic to the next node.",
        "categories": {
          "categories": [
            {
              "category": "job_application_receipt",
              "description": "Email confirms or acknowledges my job application"
            }
          ]
        },
        "options": {
          "fallback": "discard"
        }
      },
      "id": "0d3f97b8-6a12-413b-a0b3-3ee88d60565b",
      "name": "Classify Job Email",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        160,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=Get the company name from the subject - {{$json.Subject}}. If not available in the subject, then look for a company name in the email body - {{ $json.snippet }}",
        "attributes": {
          "attributes": [
            {
              "name": "company_name",
              "description": "Name of the company in email subject"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        544,
        -48
      ],
      "id": "9859e7b9-02eb-4b34-ad8d-40b997050c0e",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18P7ZNRZ7GerPo9Xx3g9M1cYjDekOd01KbTzZX5a6op0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ \"Week \" + (($now.extract('year') - 2025) * 52 + ($now.extract('week') - 10)) }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        912,
        -48
      ],
      "id": "4077f187-aacf-45fc-8203-115438c678a3",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kHz1lZyqE9JLqjuC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst newValue = $('Information Extractor').first().json.output.company_name;\nconst rows = $('Google Sheets') || [];\nlet rowIndex = $('Google Sheets').last().json.row_number;\n\nconst currentVal = (rows.last().json.Monday || \"\").trim();\nlet updated;\nif (currentVal) {\n  updated = currentVal;\n  if (currentVal[currentVal.length - 1] !== ',') {\n    updated += ', ';\n  }\n  updated += ` ${newValue}`;\n} else {\n  updated = newValue;\n}\nreturn [{ json: { action: \"update\", row: rowIndex, value: updated } }];\n"
      },
      "id": "0f236d2b-6906-42de-99f0-8a37f68d14a7",
      "name": "Determine Upsert Action",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1136,
        -48
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sheet_name",
              "value": "={{\"Week \" + (($now.extract('year') - 2025) * 52 + ($now.extract('week') - 10))}}"
            },
            {
              "name": "Monday",
              "value": "={{ $json.value }}"
            }
          ],
          "number": [
            {
              "name": "row_number",
              "value": "={{ $json.row }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57dc86ee-2cd1-4407-b2b6-a0dbe4f3ebb9",
      "name": "Set Row + Value",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1360,
        -48
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{`https://sheets.googleapis.com/v4/spreadsheets/18P7ZNRZ7GerPo9Xx3g9M1cYjDekOd01KbTzZX5a6op0/values/${$json.sheet_name}!B${$json.row_number}?valueInputOption=USER_ENTERED`}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "={{ $json.sheet_name + \"!B\" + $json.row_number}}"
            },
            {
              "name": "majorDimension",
              "value": "ROWS"
            },
            {
              "name": "values",
              "value": "={{[[$json.Monday]]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e46efb23-8375-45b5-94ee-2203623bc94b",
      "name": "PUT Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1568,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kHz1lZyqE9JLqjuC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        160
      ],
      "id": "1b77a434-9f0f-4b4e-a4df-6b3ee9de321a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8GMDfRWxKEkcdJbL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        160,
        176
      ],
      "id": "35d1e4ad-e0e5-4516-a6fb-31643f535065",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ySVe1ZXBtJ2sGT93",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classify Job Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Job Email": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Determine Upsert Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Upsert Action": {
      "main": [
        [
          {
            "node": "Set Row + Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Row + Value": {
      "main": [
        [
          {
            "node": "PUT Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Job Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eac42170266f15d587a93ef50beaf8f18af8f5cbf4b592de8ee1154846228b93"
  }
}